# Binarios
/autoconfine
*.exe
*.dll
*.so
*.a

# Go
/vendor/
*.test
*.out
coverage.html
coverage.out

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Artefactos de aprendizaje
*.trace.jsonl
*.seccomp.json
*.log

# eBPF
*.o
*.bpf.o
!internal/bpf/syscalls_bpfel.o

# Python
__pycache__/
